<div class="row">
  <div class="col">
    <div class="row">
      <%= react_component("HelloWorld/SayHelloWorld", { greeting: "Hello World!", children: "Children Value" }) %>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col">
          <h1>Notes</h1>
        </div>
        <div class="col d-flex justify-content-end">
          <%= link_to 'New Note +', new_note_path, class: 'btn btn-primary' %>
        </div>
      <hr>
    </div>
    <div class="row">
      <% @notes.each do |note| %>
      <div class="col-md-3 mt-3">
        <%= react_component("Card", { title: note.title, description: note.description, actions: { edit: edit_note_path(note), delete: "notes/delete/#{note.id}" }  }) %>
      </div>
      <!-- <%= link_to 'Edit', edit_note_path(note), class:'btn btn-primary btn-sm mb-1' %>
      <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %> -->
    <% end %>
    </div>
  </div>
</div>
