<div class="row">
  <div class="col">
    <div class="row d-flex align-items-center">
        <div class="col">
          <h1>Notes</h1>
        </div>
        <div class="col d-flex justify-content-end">
          <%= link_to 'New Note +', new_note_path, class: 'btn btn-primary' %>
        </div>
      <hr>
    </div>
    <div class="row">
      <% @notes.each do |note| %>
      <div class="col-md-3 mt-3">
        <div class="card shadow">
          <div class="card-body">
            <h4><%= note.title %></h4>
            <hr>
            <p style="text-align: justify;"><%= note.description %></p>
            <div class="fw-light text-end">
              <%= note.created_at.strftime("%a, %B %d, %Y") %>
            </div>
          </div>
          <div class="card-footer d-flex align-items-center justify-content-end">
            <%= link_to 'Edit', edit_note_path(note), class:'btn btn-primary btn-sm me-2' %>
            <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %>
          </div>
        </div>
      </div>
      <!-- <%= link_to 'Edit', edit_note_path(note), class:'btn btn-primary btn-sm mb-1' %>
      <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm' %> -->
    <% end %>
    </div>
  </div>
</div>
