<div class="row">
  <div class="row text-center">
    <h2>Sign up</h2>
    <hr>
  </div>
  <div class="row">
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card shadow">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="card-body">
                <div class="form-group mb-3">
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
                </div>
              
                <div class="form-group mb-3">
                  <%= f.label :password, class: 'mr-2' %>
                  <i class="fas fa-info-circle text-primary" title="(<%= @minimum_password_length %> characters minimum)" ></i>
                  <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
                </div>
              
                <div class="form-group mb-3">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
                </div>

                <%= render "devise/shared/links" %>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <div class="actions">
                  <%= f.submit "Sign up", class: 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
