<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card">
          <div class="card-body">
            <h2>Forgot your password?</h2>
            <hr>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>
              <div class="mt-4 d-flex justify-content-end">
                <%= f.submit "Send me reset password instructions", class: 'btn btn-success' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4 mx-auto">
        <div class="row">
          <%= render "devise/shared/links" %>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
