<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Notes App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <%= link_to "Home", root_path, class:"nav-link" %>
              </li>
              <% if user_signed_in? %>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notes</a>
                </li>
              <% end %>
            </ul>
            <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <% if user_signed_in? %>
                    <li class="nav-item">
                        <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>
                    </li>
                <% else %>
                    <li class="nav-item">
                        <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
                    </li>
                <% end %>
              </ul>
        </div>
    </div>
</nav>